*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body{
    background-image: url(../asset/stock-1863880_1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;;
    overflow-x: hidden;
}