*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header{
    background-color: black;
}

body{
    background-image: url(../asset/stock-1863880_1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;;
    overflow-x: hidden;
}

footer {
    background-color: black;
    color: #eef1f0;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
p {
    text-align: center;
    margin: auto;
    padding: auto;
    width: auto;
}
footer svg {
    list-style-type: none;
    width: auto;
    display: inline block;
    text-decoration: none;
    color: #eef1f0;
}

.alert{

    width: 20rem;
    /* height: 20%; */
    margin-left: 1.2rem;
}

header h1{
    font-size: 3rem;
    text-align: center;
}

main h2{
    font-size: 2rem;
    margin-left: 7rem;
}

main h3{
    font-size: 1rem;
}

main p{
    text-align: left;
}

.form-group {
    padding: 10px;
}

.btnejecucion{
    align-items: center;
    margin-left: 8rem;
    padding: 1rem;
}

main{
    width: 80%;
}

div{
    width: 20rem;
}